<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Surveillance Dashboard</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-around">
            {{range $val := .Videos}}
            <div class="col-sm-3" align="center">
                <img src="{{$val.ImageFile}}" width="350px"/>
                <p>{{$val.Time}}</p>
            </div>
            {{end}}
        </div>
    </div>
    
    <br />
    <div class="container-fluid">
        <div class="row">
           <div class="col-sm-3">
                <div class="d-flex flex-row">
                    {{if ne .Page 1}}
                    <a class="btn btn-secondary p-2" href="http://localhost:8080/?page={{sub .Page 1}}">Previous</a>
                    {{end}}

                    <p class="p-2">Page {{.Page}} of {{.NumPages}}</p>

                    {{if ne .Page .NumPages}}
                    <a class="btn btn-secondary p-2" href="http://localhost:8080/?page={{add .Page 1}}">Next</a>
                    {{end}}
                </div>
           </div>
        </div>
    </div>
</body>
</html>